.fixed {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  margin: 0;
}

.wrapper {
  width: 75%;
  margin: auto auto 50px auto;
}

.jobFeed {
  padding: 1rem;
  display: grid;
  height: 97%;
  width: 97%;
  background: var(--glass);
  border-radius: 2rem;
  gap: 16px;
  grid-template-columns: 11rem auto 20rem;
  overflow: hidden;
}

@media screen and (max-width: 1200px) {
  .jobFeed{
    grid-template-columns: 10% 50% auto;
    overflow-y: scroll;
  } 
}

@media screen and (max-width: 768px) {
  .jobFeed{
    grid-template-columns: 1fr;
  } 
}